body
{
	margin: 20px;
	background: url('../images/background.png');
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 12px; 
	color: #3C3C3D;
	a {	color: black; }
}

header
{
	h3
	{
		font-size: 40px;
	}
}

nav
{
	margin:
	{
		top: 20px;
		bottom: 20px;
	}
	width: auto;
	li
	{
		display: inline;
		list-style-type: none;
		padding-right: 20px;
	}
	ul
	{
		display: inline;
		padding-right: 300px;
	}
	form
	{
		float: right;
		display: inline;
	}
}

section
{
	border: 1px solid #cfcfcf;
	border-radius: 15px;
	background-color: #fff;
	padding: 10px;
}

section#left-side
{
	width: 600px;
	float: left;
}

section#right-side
{
	margin-left: 20px;
	width: auto;
	float: left;

	.widget
	{
		margin-right: 10px;
		margin-top: 15px;
	}
	#widgets
	{
		a.button.reload
		{
			padding: 1px 1px 1px 3px;
			width: 12px;
		}
	}
}

div#tabs
{
	margin: 0 0 20px 0;
	li
	{
		display: inline;
		list-style-type: none;
		padding-right: none;
	}
	ul
	{
		display: inline;
	}
}

div#form
{
	label
	{
		display: block;
	}
	label.normal
	{
		display: inline;
	}
	input[type=number]
	{
		width: 20px;
	}
	input[value^=Save]
	{
		display: block;
	}
}