.widget.appstorm {
  clear: both;
  float: left;
  height: auto;
  width: 280px; }
  .widget.appstorm li {
    list-style-type: none; }
    .widget.appstorm li:nth-child(2n+1) {
      background: #ECECEC; }
